__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
convertenv/
signenv/
dataset/
mobile-app/
mobile-app-export/
model.h5
training_history.png
.DS_Store
.git/
.gitignore
README.md